<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Mahmoud Kandeel</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <!--Dashboard-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span> Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            Dashboard
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Products-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Products </span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> Add Product
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-archive"></i> Stock Items
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tasks"></i> Out of Stock
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-warning"></i> Low Stock
                        </a>
                    </li>
                </ul>
            </li>

            <!--Product Category-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-object-group"></i> <span>Product Category </span> <i class="fa fa-angle-left pull-right"></i>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#"><i class="fa fa-plus"></i> New Product Category</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i>
                            View Product Category
                        </a>
                    </li>
                </ul>
            </li>

            <!--Orders-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span> Orders </span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#">
                            <i class="fa fa-archive"></i> New Order
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i> Orders
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Suppliers-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-truck fa-flip-horizontal"></i>
                    <span> Suppliers </span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> Add Supplier
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i> Suppliers
                        </a>
                    </li>
                </ul>
            </li>

            <!--Customers-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i> <span>Customers </span> <i class="fa fa-angle-left pull-right"></i>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#"><i class="fa fa-plus"></i> New Customers</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i>
                            View Customers
                        </a>
                    </li>
                </ul>
            </li>

            <!--Sales Order-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-truck"></i> <span>Sales Order </span> <i class="fa fa-angle-left pull-right"></i>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#"><i class="fa fa-plus"></i> New Sales Order</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            View Sales Order
                        </a>
                    </li>
                </ul>
            </li>

            <!--Invoice-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>Invoice </span> <i class="fa fa-angle-left pull-right"></i>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#"><i class="fa fa-plus"></i> New Invoice</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i>
                            View Invoice
                        </a>
                    </li>
                </ul>
            </li>

            <!--Staff-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span> Staff </span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> New Staff
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i> View Staff
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Users-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span> Users </span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> Create User
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"></i> All Users
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-ban"></i> User Roles
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
