<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        V 1.0.00
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Inventory</a>.</strong> All rights reserved.
</footer>